<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (users.length > 0) { %>
                    <div class="grid">
                        <% for (let user of users) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= user.name %>
                                    </h1>
                                </header>
                                <div class="card__content">
                                    <h2 class="product__price">$
                                        <%= user.email %>
                                    </h2>
                                    <p class="product__description">
                                        <%= user.mobileNumber %>
                                    </p>
                                    <p class="product__description">
                                        <%= user.user_type %>
                                    </p>
                                    <p class="product__description">
                                        <%= user.username %>
                                    </p>
                                    <!-- <p class="product__description">
                                        <%= user.password %>
                                    </p> -->
                                </div>
                                <div class="card__actions">
                                    <a href="/admin/edit-product/<%= user._id %>?edit=true" class="btn">Edit</a>
                                    <form action="/admin/delete-product" method="POST">
                                        <input type="hidden" value="<%= user._id %>" name="userId">
                                        <button class="btn" type="submit">Delete</button>
                                    </form>

                                </div>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>